{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/homecompany.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>COMPANY POSTS</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      
      label{
        width: 200px;
      }
      .in:hover{
        background-color: lightskyblue;
        
      }
      input{
        border-radius: 7px;
        width: 200px;
      }
      #locate{
        border-radius: 7px;
        width: 200px;
      }
      #exp{
        border-radius: 7px;
        width: 200px;
      }
      input:hover{
        background-color: lightskyblue;
      }
      
.footer-col{
  margin-top: 20px;
}
#footerform{
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
  }
  input{
    border-radius: 7px;
  }
  hr{
    background-color: white;
}
#logo{
    height: 50px;
    width: 30px;
}
footer{
    background-color: black;
    margin:auto;
    padding: auto;
    width: 100%;
}
.footer-col{
    margin-left: 200px  
}
#footer-end{
    margin-left: 200px;
    display: flex;
}
.followus{
    margin: auto;
    padding: auto;
    color:white;
}
#logodiv{
    margin-right: 50px;
}
label{
    width: 200px;
    display: inline-block;
    color: white;
  }
  

#footerform{
  
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
}
input{
  border-radius: 7px;
}
.button{
  border-radius: 7px;
}
.footer-col{
  margin-top: 20px;
}
#career_connect{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
body{
    background-image: url("/static/board/h1.jpg");
    background-size: cover;
}
#company{
  color: orange;
  font-style: italic;
}
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <span id="career_connect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="50" height="50" alt="" loading="lazy">
        </a>
        <a href="{%url 'homecompany'%}">HOME</a>
        <a href="{%url 'companyposts'%}">COMPANY POSTS({{m}})</a>
        <a href="{%url 'com_application'%}">APPLICATIONS({{n}})</a>
        <a href="{%url 'accept_list'%}">ACCEPTED APPLICATIONS</a>
        <a href="{%url 'reject_list'%}">REJECTED APPLICATIONS</a>
        <a href="{%url 'logout_'%}">Logout</a>
        
        
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"style=" overflow-y: scroll;height:800px">
                <div class="container-fluid" >
                    <div class="row">
                        {%for i in ap%}
                        <div class="col-md-12 col-12">
                            <div style="margin-top: 100px;">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                      <div class="col-md-4">
                                        <img style="height: 150px;width: 150px;" src="{{i.person.profile_photo.url}}" class="card-img" alt="...">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title">NAME: {{i.person.name}}</h5>
                                          <dt>QUALIFICATION: <span style="color: green;">{{i.person.graduation}}</span></dt>
                                          <dt>BATCH: <span style="color: green;">{{i.person.grad_pass_year}}</span></dt>
                                          <dt>SKILL: <span style="color: green;">{{i.person.skill}}</span></dt>
                                          <button style="background-color: rgb(155, 216, 238);"><a href="{%url 'view' i.person.id%}">VIEW</a></button>
                                          <button style="background-color: orange;margin-left: 50px;"><a href="{%url 'reject' id_=i.person.id code=i.companys.job_code%}" style="color: black;">REJECT</a></button>
                                          <button style="background-color: greenyellow;margin-left: 50px;"><a href="{%url 'accept' id_=i.person.id code=i.companys.job_code%}">ACCEPT</a></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
            
                            </div>
            
                        </div>
                        {%endfor%}
                       
            
                    </div>
                 
            
                </div>

            </div>
            <div class="col-md-6">
              {%if rjct%}
              <div class="col-md-12"style=" overflow-y: scroll;height:800px">
                <div class="container-fluid" >
                    <div class="row">
                        {%for i in rjct%}
                        <div class="col-md-12 col-12">
                            <div style="margin-top: 100px;">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                      <div class="col-md-4">
                                        <img style="height: 150px;width: 150px;" src="{{i.person.profile_photo.url}}" class="card-img" alt="...">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title">NAME: {{i.person.name}}</h5>
                                          <dt>QUALIFICATION: <span style="color: green;">{{i.person.graduation}}</span></dt>
                                          <dt>BATCH: <span style="color: green;">{{i.person.grad_pass_year}}</span></dt>
                                          <dt>SKILL: <span style="color: green;">{{i.person.skill}}</span></dt>
                                          <button style="background-color: rgb(155, 216, 238);"><a href="{%url 'view' i.person.id%}">VIEW</a></button>
                                          <button style="background-color: orange;margin-left: 50px;"><a href="{%url 'reject' id_=i.person.id code=i.companys.job_code%}" style="color: black;">REJECT</a></button>
                                          <button style="background-color: greenyellow;margin-left: 50px;"><a href="{%url 'accept' id_=i.person.id code=i.companys.job_code%}">ACCEPT</a></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
            
                            </div>
            
                        </div>
                        {%endfor%}
                       
            
                    </div>
                 
            
                </div>

            </div>
            {%endif%}
              {%if acpt%}
              <div class="col-md-12"style=" overflow-y: scroll;height:800px">
                <div class="container-fluid" >
                    <div class="row">
                        {%for i in acpt%}
                        <div class="col-md-12 col-12">
                            <div style="margin-top: 100px;">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                      <div class="col-md-4">
                                        <img style="height: 150px;width: 150px;" src="{{i.person.profile_photo.url}}" class="card-img" alt="...">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title">NAME: {{i.person.name}}</h5>
                                          <dt>QUALIFICATION: <span style="color: green;">{{i.person.graduation}}</span></dt>
                                          <dt>BATCH: <span style="color: green;">{{i.person.grad_pass_year}}</span></dt>
                                          <dt>SKILL: <span style="color: green;">{{i.person.skill}}</span></dt>
                                          <button style="background-color: rgb(155, 216, 238);"><a href="{%url 'view' i.person.id%}">VIEW</a></button>
                                          <button style="background-color: orange;margin-left: 50px;"><a href="{%url 'reject' id_=i.person.id code=i.companys.job_code%}" style="color: black;">REJECT</a></button>
                                          <button style="background-color: greenyellow;margin-left: 50px;"><a href="{%url 'accept' id_=i.person.id code=i.companys.job_code%}">ACCEPT</a></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
            
                            </div>
            
                        </div>
                        {%endfor%}
                       
            
                    </div>
                 
            
                </div>

            </div>
            {%endif%}
              {%if pro%}
              
                <div style="border: 1px solid black;height: 700px;overflow-y: scroll; margin-top: 100px;background-color: white;padding: 50px;">
                  <div class="col-md-4">
                    <img style="height: 150px;width: 150px;" src="{{pro.profile_photo.url}}" class="card-img" alt="...">
                  </div>
                <form action="">
                  <label for="" style="color: black;">NAME:</label>
                  <label for="" style="color: black;">{{pro.name}}</label><br>
                  <label for="" style="color: black;">MAIL:</label>
                  <label for="" style="color: black;">{{pro.username}}</label><br>
                  <label for="" style="color: black;">PHONE:</label>
                  <label for="" style="color: black;">{{pro.mobile_number}}</label><br>
                  <label for="" style="color: black;">LOCATION:</label>
                  <label for="" style="color: black;">{{pro.location}}</label><br>
                  <label for="" style="color: black;">EXPERIENCE:</label>
                  <label for="" style="color: black;">{{pro.experience}}</label><br>
                  <label for="" style="color: black;">QUALIFICATION:</label>
                  <label for="" style="color: black;">{{pro.graduation}}</label><br>
                  <label for="" style="color: black;">GRADUATION PASS OUT YEAR:</label>
                  <label for="" style="color: black;">{{pro.grad_pass_year}}</label><br>
                  <label for="" style="color: black;">GRADUATION PERCENTAGE:</label>
                  <label for="" style="color: black;">{{pro.grad_per}}</label><br>
                  <label for="" style="color: black;">AVAILABILITY:</label>
                  <label for="" style="color: black;">{{pro.availability}}</label><br>
                  <label for="" style="color: black;">SKILL:</label>
                  <label for="" style="color: black;">{{pro.skill}}</label><br>
                 
                </form>
              
              

            </div>
            {%endif%}

        </div>

    </div>
    <div class="navbar navbar-light bg-dark" >
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="footer-col">
              <ul>
                <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
                <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
                <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
                <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
                <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
                
              </ul>
            </div>
           
            <div class="footer-col">
              <ul>
                <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
                <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
                
                <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
                <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
                <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a><hr>
              </ul>
            </div>
            <div id="footerform" class="footer-col" style="float: right;">
              <form action="">
                {%csrf_token%}
                <div >
                  <h4 style="color:white">Contact Us</h4><br>
                  <label for="">Name:</label><br>
                  <input type="text" placeholder="Enter your name"><br>
                  <label for="">Email Id:</label><br>
                  <input type="email" placeholder="Enter your email"><br>
                  <label for="">Query:</label><br>
                  <input type="textarea" placeholder="Enter your query"><br><br>
                  <button type="submit" class="button" >Submit</button>
                </div>
              </form>
            </div>
            <div id="footer-end" >
              
                <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
                <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.instagram.com/career_connect11/"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
                </div><br>
               
            </div>
            <div>
              <i class="fa-solid fa-copyright"></i>
              <label for="">2023 Career Connect | All rights Reserved</label>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>