{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/company.css'%}">
    <link rel="stylesheet" href="{%static 'board/login.css'%}">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>Requirements</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
        #careerconnect{
            font-family: 'Lobster Two', cursive;
            font-size: 40px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
        
        <a class="navbar-brand" href="#">
            <span id="careerconnect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="50" height="60" alt="" loading="lazy">
        </a>
        <dd><a href="{%url 'homecompany'%}">Home</a></dd>
    </nav>
    <div align="center" id="heading">
        <h1 style="font-style: italic; color: rgb(247, 181, 100);">Recuirements</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div align="center" style="border: 1px solid black; width: max-content; padding: 20px;" id="form_con">
                    <form action="{%url 'company'%}" method="post">
                        {%csrf_token%}
                        <label for="">Job Role</label>
                        <br>
                        <input type="text" name="job_role" placeholder="Enter job role" required class="in">
                        <br>
                        <label for="">Qualification</label>
                        <br>
                        <input type="text" name="qulafication" placeholder="Enter qualification" required  class="in">
                        <br>
                        <label for="">Batch</label>
                        <br>
                        <input type="text" name="batch" placeholder="Enter batch" class="in">
                        <br>
                        <label for="">Experience</label>
                        <br>
                        <select name="experience" id="" required class="in">
                            <option value=""></option>
                            <option value="0">0 years</option>
                            <option value="1">1 year</option>
                            <option value="2">2 years</option>
                            <option value="3">3 years</option>
                            <option value="4">more than 3 years</option>
                        </select>

                            
                        <br>
                        <label for="">Job location</label>
                        <br>
                        <select name="job_location"  required class="in">
                            <option value=""></option>
                            <option value="hyderabad">Hyderabad</option>
                            <option value="chennai">Chennai</option>
                            <option value="banglore">Banglore</option>
                            <option value="pune">Pune</option>
                            <option value="kolkata">Kolkata</option>
                          </select>
                        <br>
                        <input type="submit">

                    </form>

                </div>

            </div>

        </div>

    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>