{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>completeprofile</title>
	<link rel="stylesheet" href="{%static 'board/completeprofile.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="{%static 'board/logo.jpg'%}">
	<style>
		#buttonid{
			padding: 5px;
			width: 60px;
			border-radius: 5px;
			background-color: violet;
		}
	</style>
</head>
<body>

<div class="resume-main">
	<div class="left-box">
		<br><br>
		<div class="profile">
			<img src="{{p.profile_photo.url}}" style="width: 136px; height: 136px;">
		</div>
		<div class="content-box">
		<h2>Profile Info:</h2>
		<hr class="hr1">
		<p class="p1">To become an excellent Engineer by taking up challenging works with creative,diversified skills and to be a part of fast growing world.</p>
        <br>
		<h2>Language:</h2>
        <hr class="hr1">
		<p class="p2">English</p>
		<p class="p2">Hindi</p>
		<br><br>
		<h2>My Skills:</h2>
		<hr class="hr1">
		<br>
		<div class="col-div-6"><p class="p2">{{p.skill}}</p></div><br><br>
		<h2>Contact:</h2>
		<hr class="hr1">
		<br>
		<p class="p2">Email: <br> {{t.username}}</p>
		<p class="p2">Mobile Number: <br> {{p.mobile_number}}</p>	
		</div>
	</div>
	<div class="right-box">
		<h1>
			{{t.first_name}}<br>
			<span>{{t.last_name}}</span>
		</h1>
		<br>
		<h4>{{p.gender}}</h4>
		<br>	
		<h2 class="heading">My Education</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">Graduation:{{p.graduation}}</p><hr>
			<span class="span1">Passedout year : {{p.grad_pass_year}}</span><br>
            <span class="span1">College name : {{p.grad_clg_name}}</span><br>
            <span class="span1">Percentage : {{p.grad_per}}</span><br><br>
			<p class="p5">HigherEducation:{{p.higher_ed}}</p><hr>
			<span class="span1">Passedout year : {{p.highereducation_passout_year}}</span><br>
			<span class="span1">College name : {{p.higher_ed_clg_name}}</span><br>
			<span class="span1">Percentage : {{p.higher_ed_per}}</span><br><br>
			<p class="p5">SecondaryEducation : {{p.sec_ed}}</p><hr>
			<span class="span1">Passedout year : {{p.sec_ed_pass_year}}</span><br>
			<span class="span1">School name : {{p.sec_ed_scl_name}}</span><br>
			<span class="span1">Percentage : {{p.sec_ed_percentage}}</span>
		</div>
		
	</div>
	

</div>
<div align="center"> 
	<button id="buttonid"> <a href="{%url 'show_profile'%}" style="text-decoration: none; font-size: large;">Back</a></button>
</div>

</body>
</html>