{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/empregister.css'%}">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>register</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
        #career_connect{
            font-family: 'Lobster Two', cursive;
            font-size: 40px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <span id="career_connect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="30" height="30" alt="" loading="lazy">
        </a>
        <a href="{%url 'login_user'%}">login</a>
    </nav>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12">
                <div align="center">
                    <h1 >Register</h1>
                    <h6>{{error}}</h6>
                </div>
            </div>
            <br>
                <div id="formdiv_id">
                    {%for i in rjct%}
                    <h1>hello</h1>
                    {%endfor%}
                    <form action="{%url 'empregister'%}" method="post">
                        {%csrf_token%}
                        <label for="">company name:</label>
                        <br>
                        <input type="text" placeholder="Enter your firstname" class="input_class" required name="first_name">
                        <br>
                        <label for="">company mail:</label>
                        <br>
                        <input type="text" placeholder="Enter your lastname" class="input_class" required name="email">
                        <br>
                        <label for="">Password:</label>
                        <br>
                        <input type="password" placeholder="Enter your password" class="input_class" required name="password">
                        <br>
                        <div style="margin-top: 10px;">
                            <input type="submit">
                        
                            <input type="reset" style="margin-left: 15px;">
                        </div>
                        
                    </form>
                </div>

        </div>

    </div>
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>