{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/homepage.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>HomePage</title>
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
    .card img{
    height: 200px;
    width: 280;
  }
  .carousel-inner .card{
    margin-left: 80px;
    height: 400px;
   
  }
  nav{
    background-color: lavender;
  }
  #careerconnect{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
  }
  main{
    background-color:lightcyan;
    
  }
  body{
    background-color: white;
  }
  .followus{
    margin: auto;
    padding: auto;
    color:white;
}
   </style>
  </head>
  <body>
  
    <nav class="navbar fixed-top navbar-light ">
      
      <a class="navbar-brand" href="#">
          <span id="careerconnect">Career Connect</span>
      <img src="{%static 'board/logo.jpg'%}" width="50" height="50" alt="" loading="lazy">
      </a>
      <form action="{%url 'search'%}" method="post">
        {%csrf_token%}
        <input type="search" name="search">
        <input type="submit" value="search">
      </form>
      <a href="{%url 'logout_'%}"><i id="Logout" class="fa-solid fa-arrow-right-from-bracket">Logout</i></a>
      <a href="{%url 'update_' p.id%}">Edit Profile</a>
    </nav>

  <main>
    <div class="container-fluid"  >
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="user-profile" style="width:fit-content;height:600px;margin-top: 100px;">        
            <div class="user-img-wrapper">
              
              <img style="height: 100px;width: 100px;" class="" src="{{p.profile_photo.url}}" alt="">
              <div class="name-wrapper">
                <div title="" class="user-name">
                  <label for="">first name:</label>
                  {{name.first_name}}</div>
                <p title="gender">
                  <label for="">gender:</label>
                  {{p.gender}}</p>
              </div>
              <div class="other-info-wrapper">
                <div class="sub-info">
                  <label for="">Graduation:</label>
                  <span title="B.Tech">{{p.graduation}}</span><br>
                  <label style="margin-top: 15px;" for="">College:</label>
                  <span style="margin-top: 15px;"title="college,place">{{p.grad_clg_name}}</span><br>
                  <label style="margin-top: 15px;" for="">passedout-year:</label>
                  <span style="margin-top: 15px;" title="passedout-year">{{p.grad_pass_year}}</span>
                  <br>
                  <label style="margin-top: 15px;" for="">mobile-number:</label>
                  <p style="margin-top: 15px;" title="mobile-number">{{p.mobile_number}}</p>
                  <div class="complete profile" >
                    <a href="{%url 'completeprofile'%}"><button id="complete">complete profile</button></a></div><br>
                    
                </div>
              </div>
            </div> 
          </div>
        </div>

      <div class="col-12 col-md-4" style=" width:max-content;">
        <div style="height :600px;overflow-y: scroll;margin-top: 100px;" >
          {% if messages %}
            <ul class="messages">
             {% for message in messages %}
              <li style="color:rgb(134, 239, 134);" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                  </ul>
          {% endif %}
          
              {%for i in l%}
              <div class="card text-center" style="margin-top: 40px;margin-right: 10px;">
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="{%url 'postview' i.id %}">VIEW</a>
                    </li>
                    
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <span>{{i.job_role}}</span>||
                  <span>{{i.qualification}}</span>||
                  <span>{{i.batch}}</span>||
                  <span>{{i.job_location}}</span>

                 
                  <a href="{%url 'apply' i.id%}" class="btn btn-primary">APPLY</a>
                 
                </div>
              </div>
              {%endfor%}
           
        </div>
      </div>
      {% if v %}
      <div class="col-md-4" >
        
        <!-- <div style="border: 1px solid black;width: 450px;height: 400px;margin-top: 100px;background-color: white;margin-left: 20px;" > -->
        <div style="border: 1px solid black;width: 380px;height: 600px;margin-top: 100px;background-color: white;margin-left: 20px; border-radius: 10px; padding: 10px;" >
                          <h5 class="card-title">{{i.name}}</h5>
                          <dt style="font-size: 25px;">Job role : <span style="color: blue; ">{{v.job_role}}</span> </dt><br>
                          <dt style="font-size: 25px;">Qualification : <span style="color: blue;">{{v.qualification}}</span> </dt><br>
                          <dt style="font-size: 25px;">Experience : <span style="color: blue;">{{v.experience}}</span> </dt><br>
                          <dt style="font-size: 25px;">Salary : <span style="color: blue;">{{v.ctc}}</span> </dt><br>
                          <dt style="font-size: 25px;">Job Location : <span style="color: blue;">{{v.job_location}}</span> </dt><br>
                          <dt style="font-size: 25px;">Last date : <span style="color:orangered;">{{v.lastdate}}</span> </dt>
                          

        </div>
        
        

      </div>
   

      </div>
      {%endif%}
      
    </div>
  </main>
    <div style="width: 100%;height: 50px;background-color:rgb(224, 27, 27);margin-top: 100px;margin-bottom: 10px;">
      <h2 align="center" style="font-family: 'Times New Roman', Times, serif;">Top Companies</h2>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background-color: orange;margin-bottom: 20px;margin-top: 100px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card" style="width: 18rem;display: inline-block;"  >
            <img src="{%static 'board/cinfo.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Infosys Limited is an Indian multinational information technology company that provides business consulting, information technology and outsourcing services.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;display: inline-block;" >
            <img src="{%static 'board/cadp.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Automatic Data Processing, Inc. is an American provider of human resources management software and services, headquartered in Roseland, New Jersey.ADP currently has 58,000 employees.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;display: inline-block;" >
            <img src="{%static 'board/cwipro.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Wipro is an Indian multinational corporation that provides information technology, consultant and business process services. It is one of the leading Big Tech companies..</p>
            </div>
          </div>
          
        </div>
        <div class="carousel-item">
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="{%static 'board/ccapgemini.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Capgemini SE is a multinational information technology services and consulting company, headquartered in Paris, France.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="{%static 'board/camazon.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Amazon was founded by Jeff Bezos from his garage in Bellevue, Washington,on July 5, 1994.Initially an online marketplace for books.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="{%static 'board/cadp.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Automatic Data Processing, Inc. is an American provider of human resources management software and services,in New Jersey.</p>
            </div>
          </div>
          
        </div>
        <div class="carousel-item">
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="{%static 'board/ccognizant.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Cognizant is an American multinational information technology services and consulting company. It is headquartered in Teaneck, New Jersey, U.S. Cognizant is part of the NASDAQ-100 and trades.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="{%static 'board/cgoogle.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Google LLC is an American multinational technology company focusing on artificial intelligence, online advertising, search engine technology, cloud computing, computer software, e-commerce, and consumer electronics.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="{%static 'board/cwipro.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Wipro is an Indian multinational corporation that provides information technology, consultant and business process services. It is one of the leading Big Tech companies. Wipro's capabilities range across cloud.</p>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
    <div class="navbar navbar-light bg-dark" style="margin-top: 100px;" >
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="footer-col">
              <ul>
                <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
                <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
                <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
                <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
                <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
                
              </ul>
            </div>
           
            <div class="footer-col">
              <ul>
                <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
                <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
                <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
                <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
                <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a>
              </ul>
            </div>
            <div id="footerform" class="footer-col" style="float: right;">
              <form action="">
                {%csrf_token%}
                <div >
                  <h4 style="color:white">Contact Us</h4><br>
                  <label for="">Name:</label><br>
                  <input type="text" placeholder="Enter your name"><br>
                  <label for="">Email Id:</label><br>
                  <input type="email" placeholder="Enter your email"><br>
                  <label for="">Query:</label><br>
                  <input type="textarea" placeholder="Enter your query"><br><br>
                  <button type="submit" class="button" >Submit</button>
                </div>
              </form>
            </div>
            <div id="footer-end" >
              
                <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
                <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.instagram.com/career_connect11/"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
                </div><br>
               
            </div>
            <div>
              <i class="fa-solid fa-copyright" style="color: white;"></i>
              <label style="color: white;" for="">2023 Career Connect | All rights Reserved</label>
            </div>
          </div>
        </div>
      </footer>
    </div>
    {%if flag%}
    <script>
      
        alert('{{flag }}');
    
  </script>
  {%endif%}


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    
  </body>
</html>