{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/homecompany.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>HOME COMPANY</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      
      label{
        width: 200px;
      }
      .in:hover{
        background-color: lightskyblue;
        
      }
      input{
        border-radius: 7px;
        width: 200px;
      }
      #locate{
        border-radius: 7px;
        width: 200px;
      }
      #exp{
        border-radius: 7px;
        width: 200px;
      }
      input:hover{
        background-color: lightskyblue;
      }
      
.footer-col{
  margin-top: 20px;
}
#footerform{
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
  }
  input{
    border-radius: 7px;
  }
  hr{
    background-color: white;
}
#logo{
    height: 50px;
    width: 30px;
}
footer{
    background-color: black;
    margin:auto;
    padding: auto;
    width: 100%;
}
.footer-col{
    margin-left: 200px  
}
#footer-end{
    margin-left: 200px;
    display: flex;
}
.followus{
    margin: auto;
    padding: auto;
    color:white;
}
#logodiv{
    margin-right: 50px;
}
label{
    width: 200px;
    display: inline-block;
    color: white;
  }
  

#footerform{
  
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
}
input{
  border-radius: 7px;
}
.button{
  border-radius: 7px;
}
.footer-col{
  margin-top: 20px;
}
#career_connect{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
#company{
  color: orange;
  font-style: italic;
}
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <span id="career_connect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="50" height="50" alt="" loading="lazy">
        </a>
        <a href="#post">NEW POST</a>
        <a href="{%url 'companyposts'%}">COMPANY POSTS(<span style="color: green;">{{n}}</span>)</a>
        <a href="{%url 'com_application'%}">APPLICATIONS(<span style="color: green;">{{m}}</span>)</a>
        <a href="{%url 'logout_'%}">Logout</a>
        <div  class="navbar navbar-light bg-light" id="company">
          COMPANY NAME:{{name.first_name}}
          <br>
          COMPANY MAIL:{{name.username}}
          

        </div>
        
    </nav>
    
    <div align="center" >
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{%static 'board/c4.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>HI WELCOME TO CAREER CONNECT</h5>
              <p>Welcome the challenges.Look for the opportunities in every situation to learn and grow in wisdom.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{%static 'board/c3.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>HI WELCOME TO CAREER CONNECT</h5>
              <p>The expert in anything was once a beginner</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{%static 'board/c2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>HI WELCOME TO CAREER CONNECT</h5>
              <p>There is no secret ingredient in the recipe for success.Work hard,grab opportunities and follow your passion.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
     
    </div>
    <div id="post">
      <div align="center">
        <h1>NEW POST</h1>
        
        <form action="{%url 'company'%}" method="post">
          {%csrf_token%}
          <div>
          
          <label for="">&nbsp; Job Code:</label>
          <input type="text" name="job_code" placeholder="Enter Job code"><br>
          <label for="">Job Role:</label>
          
          <input type="text" name="job_role" placeholder="Enter job role" required class="in"><br>
          
          <label for="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Qualification:</label>
          
          <input type="text" name="qualification" placeholder="Enter qualification" required  class="in"><br>
        
          </div>
          
          <div > 
          <label for="">Batch:</label>
          
          <input type="text" name="batch" placeholder="Enter batch" class="in"><br>
          
          <label for="">Experience:</label>
          
          <select name="experience" id="exp" required class="in">
              
              <option value="0">0 years</option>
              <option value="1">1 year</option>
              <option value="2">2 years</option>
              <option value="3">3 years</option>
              <option value="4">more than 3 years</option>
          </select><br>

        
          <label for="">Job location:</label>
        
          
          <select name="job_location" required class="in" id="locate">
              
              <option value="hyderabad">Hyderabad</option>
              <option value="chennai">Chennai</option>
              <option value="banglore">Banglore</option>
              <option value="pune">Pune</option>
              <option value="kolkata">Kolkata</option>
            </select><br>
          
          </div>
          
          <div>
            
          <label for="">Skills:</label>
          <input type="text" name="skills" placeholder="Enter your skills"><br>
          <label for="">CTC:</label>
          <input type="text" name="ctc" placeholder="Enter your ctc"><br>
          <label for="">Last date:</label>
          <input type="text" name="lastdate" placeholder="Enter the lastdate"><br><br>
          <input type="submit">
        
          </div>
      </form>
    
      </div>
      

    </div>
    <div class="navbar navbar-light bg-dark" >
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="footer-col">
              <ul>
                <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
                <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
                <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
                <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
                <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
                
              </ul>
            </div>
           
            <div class="footer-col">
              <ul>
                <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
                <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
                
                <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
                <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
                <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a><hr>
              </ul>
            </div>
            <div id="footerform" class="footer-col" style="float: right;">
              <form action="">
                {%csrf_token%}
                <div >
                  <h4 style="color:white">Contact Us</h4><br>
                  <label for="">Name:</label><br>
                  <input type="text" placeholder="Enter your name"><br>
                  <label for="">Email Id:</label><br>
                  <input type="email" placeholder="Enter your email"><br>
                  <label for="">Query:</label><br>
                  <input type="textarea" placeholder="Enter your query"><br><br>
                  <button type="submit" class="button" >Submit</button>
                </div>
              </form>
            </div>
            <div id="footer-end" >
              
                <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
                <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.instagram.com/career_connect11/"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
                </div><br>
               
            </div>
            <div>
              <i class="fa-solid fa-copyright"></i>
              <label for="">2023 Career Connect | All rights Reserved</label>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>