{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/jobdescription.css'%}">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>Job Description</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
        #career_connect{
            font-family: 'Lobster Two', cursive;
            font-size: 40px;
            }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="">
            <span id="career_connect">Career Connect</span>
            <img id="navlogo" src="{%static 'board/logo.jpg'%}" width="50" height="50" alt="">
        </a>
        <a href="">for employers</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div id="form_container">
                    <form action="">
                        <div class="container-fluid">
                            <h3 class="job">Company:</h3>
                            <p class="text">name</p>

                            <h3 class="job">Job Role :</h3>
                            <p class="text">Python FSD</p>
                            
                            <h3 class="job">Required qualifications :</h3>
                            <p class="text">B.tech</p>

                            <h3 class="job">Experience :</h3>
                            <p class="text">0-2years</p>

                            <h3 class="job">Job Location :</h3>
                            <p class="text">Job Location</p>
                            
                            <h3 class="job">Job Description :</h3>
                            <p class="text">asdf adsfasdf asdfsdvfaf asfvsfvasfvfsdv djgajjha asdbjabja jhasbjhasbkad jahsbdasbkasd kabbasdjasdkjasd kasbabfieqhowfn kbfkaefadna kabkqbkqdba kjabkeeq kjackabka jenknkacn</p>
                            
                            <h3 class="job">How to Apply :</h3>
                            <p class="text">Please send your resume to <a href="mailto:jobs@example.com" class="apply-link">jobs@example.com</a>. Include the job title in the subject line of your email.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    
  </body>
</html>