{%load static%}
<!doctype html>
<html lang="en">
  <head>

    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/login_page.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>LOGIN PAGE</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      #career_connect{
        font-family: 'Lobster Two', cursive;
        font-size: 40px;
}
    </style>
  </head>

  <body>
    <nav class="navbar  navbar-light">
      <a class="navbar-brand" href="#">
          <span id="career_connect">Career Connect</span>
      <img src="{%static 'board/logo.jpg'%}" width="30" height="30" alt="" loading="lazy">
      </a>
      <a href="{%url 'empregister'%}">For Employer</a>
  </nav>
    <div class="bg">
      <div id="con" style="margin-bottom: 150px;margin-top: 30px;">
        <form  method="post" action="{%url 'login_user'%}">
          {%csrf_token%}
          
          <div class="form-box">
            <div class="button_box">
              <div id="btn"></div>
              <a href=""><button type="button" class="toggle-btn" onclick="login()">Log in</button></a>
              <a href="{%url 'register_user'%}"><button type="button" class="toggle-btn" onclick="register()">Register</button></a>
              <form id="login" class="input-groups">
                <div align="center" id="errormessage_id" style="color: red;">{{error_message}}</div>
                <input type="text" class="input-field" placeholder="user id" name="username"><br>
                <input type="password" class="input-field" placeholder="password" name="password"><br>
                
                <button type="submit" class="submit-btn">Login</button>
              </form>
              
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar navbar-light bg-dark" >
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="footer-col">
              <ul>
                <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
                <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
                <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
                <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
                <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
                
              </ul>
            </div>
           
            <div class="footer-col">
              <ul>
                <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
                <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
                
                <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
                <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
                <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a><hr>
              </ul>
            </div>
            <div id="footerform" class="footer-col" style="float: right;">
              <form action="">
                {%csrf_token%}
                <div >
                  <h4 style="color:white">Contact Us</h4><br>
                  <label for="">Name:</label><br>
                  <input type="text" placeholder="Enter your name"><br>
                  <label for="">Email Id:</label><br>
                  <input type="email" placeholder="Enter your email"><br>
                  <label for="">Query:</label><br>
                  <input type="textarea" placeholder="Enter your query"><br><br>
                  <button type="submit" class="button" >Submit</button>
                </div>
              </form>
            </div>
            <div id="footer-end" >
              
                <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
                <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.instagram.com/career_connect11"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
                </div><br>
               
            </div>
            <div>
              <i class="fa-solid fa-copyright"></i>
              <label for="">2023 Career Connect | All rights Reserved</label>
            </div>
          </div>
        </div>
      </footer>
    </div>
        
    
    

    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>