{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/login.css'%}">
    <script src="login.js"></script>
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>LOGIN</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      #career_connect{
          font-family: 'Lobster Two', cursive;
          font-size: 40px;
      }
    </style>
  </head>
  <body >
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <span id="career_connect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="50" height="50" alt="" loading="lazy">
        </a>
        <a href="{%url 'empregister'%}">For employers</a>
    </nav>
    
    <div id="form_body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6">
                  <div style="width: max-content; height: max-content;">
                    <img style="width: 400px;height: 400px;margin-top: 50px;border-radius: 5px;" src="{%static 'board/login_side.jpg'%}" alt="">
      
                  </div>
      
              </div>
              <div class="col-12 col-md-6" >
                <form action="{%url 'login_user'%}" id="loginform_id" onsubmit="return formvalidate()" method="post" >
                  {% csrf_token %}
                  <label id="register_id">New to Career Connect?<a href="{%url 'register_user'%}" id="registerword_id">Register</a></label>
                  <div id="login_id">
                  <hr>
                  <h4 id="loginword_id">Login</h4>
                
                  <div align="center" id="errormessage_id">{{error_message}}</div>
                  <hr>
                  <label for="">Email</label>
                  <br>
                  <input type="text" placeholder="Enter your username" name="username" class="input_class" autofocus>
                  <br>
                  <label for="">Password</label>
                  <br>
                  <input type="password" placeholder="Enter your password" name="password" class="input_class" onkeypress="passvalidate()">
                  <br>
                  <a href="" id="forgotpassword_id">Forgot Password?</a>
                  <br>
                  <input type="submit" value="Login" class="input_class" id="loginvalue_id">
                  
            
                </div>
                </form>
              </div>
            </div>
      
          </div>
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
