{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <link rel="stylesheet" href="{%static 'board/newprofile.css' %}">
    <title>Profile</title>
</head>
<style>
    .input_class{
        height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease; 
    }
    body{
        background: white;
    }
    label{
        width: 200px;
        display: inline-block;
      }
      
    .vertical {
      border-left: 4px solid white;
      height: 320px;
      position:absolute;
      left: 30%;
    }
    #footerform{
      float: right;
      border: 1px solid white;
      border-radius: 5px;
      padding: 8px;
    }
    .footer-col{
      margin-top: 20px;
    }
    main{
        display: block;
    }
    footer{
    background-color: black;
    margin:auto;
    padding: auto;
    width: 100%;
    
}
.footer-col{
    margin-left: 200px  
}
#footer-end{
    margin-left: 200px;
    display: flex;
}
.followus{
    margin: auto;
    padding: auto;
}
#logodiv{
    margin-right: 50px;
}
#smallnav{
    margin-top: 25px;
    height: 40px;
    width: 600px;
    background-color: blue;
    border-radius: 20px;

}
.formdiv_class{
    border: 2px solid black;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 40px;
    background-color: rgb(149, 143, 140);
}
input:hover{
    background-color: aliceblue;
}
.profileinput_class:hover{
    background-color: aliceblue;
}
main{
    margin-top: 50px;
}
nav{
    height: 120px;
    box-shadow: 2px 2px cornsilk;
    background: linear-gradient(135deg,#05073a,#dc0606ca);
    
}
a span{
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(224, 138, 106);
    font-weight: bold;
}
#career_connect{
    color: chartreuse;
}
body{
    color: white;
    
}
#profile{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 40px;
    font-weight: 900;
    background-color: black;
}
hr{
    background-color: white;
}
#logo{
    height: 50px;
    width: 30px;}
</style>
<body>
    <nav class="navbar  navbar-light">
        <a class="navbar-brand" href="#">
            <span id="career_connect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="30" height="30" alt="" loading="lazy">
        </a> <a  href="">Contact Us</a>
        <a href="{%url 'logout_'%}">LOGOUT</a>      
        
       
    </nav>
    <main>
    <div class="container">
        <div class="heading">Profile</div>
        <form action="{%url 'profile_details'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{form.as_p}}
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Mobile number:</span>
                    <input type="phone" placeholder="Enter your mobile number" name="mobile_number" class="profileinput_class" required>
                </div>
                <div class="card-box">
                    <span class="details">Location:</span>
                    <select name="location" id="locationid" class="input_class" required>
                      
                        <option value="hyderabad">Hyderabad</option>
                        <option value="chennai">Chennai</option>
                        <option value="banglore">Banglore</option>
                        <option value="pune">Pune</option>
                        <option value="kolkata">Kolkata</option>
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">Experience:</span>
                    <select name="experience" id="experienceid" class="input_class" required>
                      
                        <option value="0">0 years</option>
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                        <option value="3">3 years</option>
                        <option value="4">more than 3 years</option>
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">Availability:</span>
                    <input type="date" placeholder="Enter when you will be available" name="availability" required>
                </div>
                <div class="card-box">
                    <span class="details">Upload Resume:</span>
                    <input type="file" name="resume" required style="background-color: #ccc;">
                </div>
                <div class="card-box" >
                    <span class="details" >Gender:</span>
                    <select name="gender" class="input_class" required>
                      
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                        
                      </select>
                </div>
                
            </div>
            <hr>
            <br>
            <h3 align="center">Graduation</h3>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Stream:</span>
                    <select name="stream" class="input_class" required>
                        <option value="B.TECH">BE/B.Tech</option>
                        <option value="DEGREE">Degree</option>   
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">College name:</span>
                    <input type="text" placeholder="Enter your college name" name="grad_clg_name" required>
                </div>
                <div class="card-box">
                    <span class="details">Year of Passedout:</span>
                    <select name="grad_pass_year"  class="input_class" required>
                      
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="before2020">before 2020</option>
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">Percentage:</span>
                    <input type="text" placeholder="Enter your percentage" name="grad_per" required>
                </div>
            </div>  
            <hr> 
            <br>
            <h3 align="center">Higher Education</h3>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Stream:</span>
                    <select name="high_stream" class="input_class" required>
                        <option value="inter">Inter</option>
                        <option value="diploma">Diploma</option>   
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">College name:</span>
                    <input type="text" placeholder="Enter your college name" name="high_clg_name" required>
                </div>
                <div class="card-box">
                    <span class="details">Year of Passedout:</span>
                    <select name="high_pass_year"  class="input_class" required>
                      
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="before2016">before 2016</option>
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">Percentage:</span>
                    <input type="text" placeholder="Enter your percentage" name="high_per" required>
                </div>
            </div>
            <hr>
            <br>
            <h3 align="center">Secondary Education</h3>
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Board</span>
                    <select name="scl_ed" class="input_class" required>
                        <option value="ssc">SSC</option>
                        <option value="cbse">CBSE</option> 
                        <option value="cisce">CISCE</option>
                        <option value="nios">NIOS</option>  
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">School name:</span>
                    <input type="text" placeholder="Enter your school name" name="scl_name" required>
                </div>
                <div class="card-box">
                    <span class="details">Year of Passedout:</span>
                    <select name="scl_pass_year"  class="input_class" required>
                      
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="before2014">before 2014</option>
                      </select>
                </div>
                <div class="card-box">
                    <span class="details">Percentage:</span>
                    <input type="text" placeholder="Enter your percentage" name="scl_per" required>
                </div>
            </div>
            <hr>
            <br>
            
            <h3 align="center">Skills</h3>
            <div class="card-details">
            <div class="card-box">
                <span class="details">Skills Known:</span>
                <input type="text" placeholder="mention your skills" name="skill" required>
            </div>
        </div>
        <hr>
        <br>
            <div class="button">
                <input type="submit" value="Submit">
            </div>
        
        </form>
    </div>
</main>
    <br>
    
    <div class="navbar navbar-light bg-dark" >
        <footer >
          <div class="container-fluid">
            <div class="row">
              <div class="footer-col">
                <ul>
                  <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
                  <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
                  <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
                  <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
                  <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
                  
                </ul>
              </div>
              <div class="vertical"></div>
              <div class="footer-col">
                <ul>
                  <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
                  <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
                  
                  <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
                  <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
                  <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a><hr>
                </ul>
              </div>
              <div id="footerform" class="footer-col">
                <form action="">
                  {%csrf_token%}
                  <div >
                    <h4 >Contact Us</h4><br>
                    <label for="">Name:</label><br>
                    <input type="text" placeholder="Enter your name"><br>
                    <label for="">Email Id:</label><br>
                    <input type="email" placeholder="Enter your email"><br>
                    <label for="">Query:</label><br>
                    <input type="textarea" placeholder="Enter your query"><br><br>
                    <button type="submit" class="button" >Submit</button>
                  </div>
                </form>
              </div>
              <div id="footer-end" >
                
                  <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
                  <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/career_connect11/"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
                  </div><br>
                 
              </div>
              <div>
                <i class="fa-solid fa-copyright"></i>
                <label for="">2023 Career Connect | All rights Reserved</label>
              </div>
            </div>
          </div>
        </footer>
      </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>
</html>