{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static'board/P&P.css'%}">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>Privacy & Policy</title>
  </head>
  <body>
    <div class="container">
      <h1>Privacy & Policy</h1>
      <h6>1. Introduction</h6>
      <p>We, at Career connect (India) Limited and our affiliated companies worldwide (hereinafter collectively referred to as "CCIL"), are committed to respecting your online privacy and recognize the need for appropriate protection and management of any personally identifiable information you share with us. This Privacy Policy ("Policy") describes how CCIL collects, uses, discloses and transfers personal information of users through its websites and applications, including through www.careerconnect.com and online services (collectively, the "Platform"). This policy applies to those who visit the Platform, or whose information CCIL otherwise receives in connection with its services (such as contact information of individuals associated with CCIL including partners) (hereinafter collectively referred to as "Users"). For the purposes of the Privacy Policy, "You" or "Your" shall mean the person who is accessing the Platform.</p>
      <h6>2. Cookies and Other Tracking Technologies</h6>
      <p>Some of our web pages utilize "cookies" and other tracking technologies. A "cookie" is a small text file that may be used, for example, to collect information about web-site activity. Some cookies and other technologies may serve to recall Personal Information previously indicated by a user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.</p>
      <p>You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the Platform.</p>
      <p>Tracking technologies may record information such as Internet domain and host names; Internet protocol (IP) addresses; browser software and operating system types; clickstream patterns; and dates and times that our site is accessed. Our use of cookies and other tracking technologies allows us to improve our Platform and the overall website experience. We may also analyse information that does not contain Personal Information for trends and statistics.</p>
    
      <h6>3. Third Party Content:</h6>
      <p>Please be aware that the Platform sometimes contains links to other sites that are not governed by this Privacy Policy. Users may be directed to third-party sites for more information, such as advertisers, blogs, content sponsorships, vendor services, social networks, etc.</p>
      <p>CCIL makes no representations or warranties regarding how your information is stored or used on third-party servers. We recommend that you review the applicable privacy statements and policies of each third-party site linked from the Platform to determine their use of your personal information.</p>
    
      <h6>4. Changes to this Privacy Policy</h6>
      <p>CCIL reserves the right to update, change or modify this Privacy Policy at any time. The Privacy Policy shall come to effect from the date of publication of such update, change or modification.</p>

      <h6>5. Disclaimer</h6>
      <p>CCIL does not store any account related information or any credit / debit card details. CCIL shall not be liable for any loss or damage sustained by Users as a result of any disclosure (inadvertent or otherwise) of any information concerning the User's account, credit cards or debit cards in the course of any online transactions or payments made for any products and/or services offered through the Platform.
      </p>
      <P>In case any Personal Information is shared by you with CCIL, which is not requested by CCIL during registration, (whether mandatorily or optionally), IEIL will not be liable for any information security breach or disclosure in relation to such information.
      </P>

      <h1>Cookie Policy</h1><br>
      <h6>Introduction</h6>
      <p>This Cookie Policy ("Policy") explains that we believe in being open and clear about how we use your information. In the spirit of transparency, this Policy provides detailed information about how and when we use cookies on our Websites. This cookie policy applies to any careerconnect.com product or service that links to this policy or incorporates it by reference.
      </p>
      <h6>a. Does careerconnect.com uses cookies?
      </h6>
      <p>careerconnect.com uses cookies, tags and other technologies when you use any of the careerconnect.com websites, mobile sites or mobile apps (collectively "the services"). Cookies are used to ensure everyone has their best possible experience. Cookies also help us keep your account safe. By continuing to visit or use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this policy. If you prefer not to receive cookies or web beacons, then you should stop using our site, or consult your browsing and third party cookie settings as described below.
      </p>
      <h6>b. What is a cookie?
      </h6>
      <p>Cookies are small pieces of text stored by a website you visit in your browser and subsequently sent by your web browser in every request to the website. A cookie file is stored in your web browser and allows the Site or a third-party to recognize you and make your next visit easier and the Site more useful to you. Essentially, cookies are a user’s identification card for the careerconnect.com servers. Cookies allow careerconnect.com to serve you better and more efficiently, and to personalize your experience on our site. Web beacons, tags and scripts may be used in the Websites or in emails to help us to deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon. We may analyse or perform analysis based on the use of these technologies and generate reports on an individual and aggregated basis.
      </p>
    </div>

    
    
    
    
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
</html>