{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/profile.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    
    <title>PROFILE</title>
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      #career_connect{
            font-family: 'Lobster Two', cursive;
            font-size: 40px;
        }
      label{
        width: 200px;
        display: inline-block;
      }
      
    .vertical {
      border-left: 4px solid white;
      height: 320px;
      position:absolute;
      left: 30%;
    }
    #footerform{
      float: right;
      border: 1px solid white;
      border-radius: 5px;
      padding: 8px;
    }
    input{
      border-radius: 7px;
    }
    .button{
      border-radius: 7px;
    }
    .footer-col{
      margin-top: 20px;
    }
     body{
      background-image:url("/static/board/profileimage.jpg");
      background-size:cover;
     }
    </style>
  </head>
  <body  >
    <nav class="navbar  navbar-light">
      <a class="navbar-brand" href="#">
          <span id="career_connect">Career Connect</span>
      <img src="{%static 'board/logo.jpg'%}" width="30" height="30" alt="" loading="lazy">
      </a> <a  href="">Contact Us</a>
      <a href="{%url 'logout_'%}">LOGOUT</a>      
      
     
  </nav>
  <main >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <div align="center" id="profilediv_id">
                  <dt  style="background-color:black;display:inline;border-radius:5px;" id="profile">Profile</dt>
                  <dd style="color:blue;">It only takes couple of minutes to get started!</dd>

                </div>
                <br>
                <div class="formdiv_class">
                <form action="{%url 'profile_details'%}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %} 
                    {{form.as_p}}
                    <label for="">Mobile number:</label>
                    
                    <input  type="tel" placeholder="Enter your mobile number" name="mobile_number" class="profileinput_class" required><br>
                    
                    <label for="">Location:</label>
                    
                    <select name="location" id="" class="input_class" required>
                      
                      <option value="hyderabad">Hyderabad</option>
                      <option value="chennai">Chennai</option>
                      <option value="banglore">Banglore</option>
                      <option value="pune">Pune</option>
                      <option value="kolkata">Kolkata</option>
                    </select>
                    <br>
                    <label for="">Experience:</label>
                    
                    <select name="experience" id="" class="input_class" required>
                      
                      <option value="0">0 years</option>
                      <option value="1">1 year</option>
                      <option value="2">2 years</option>
                      <option value="3">3 years</option>
                      <option value="4">more than 3 years</option>
                    </select>
                    <br>
                    <label for="">Availability:</label>
                    
                    <input type="date" onkeypress="checkValidity" id="availability_date" placeholder="Enter your Availability time" name="availability" class="input_class" required> 
                    <br>                 
                    <label for="">Gender:</label>
                    
                    <input type="radio" name="gender" value="male">Male
                    <input type="radio" name="gender" value="female">Female
                    <input type="radio" name="gender" value="other">Other
                    <br>
                    
                    <label for="">Upload Resume:</label>
                    <input type="file" name="resume" required >
                    <br>
                    <hr>
                    <div>
                      <h4>Graduation</h4>
                      <label for="">Stream:</label>
                      <input type="radio" name="stream" value="BTech">BE/BTech
                      <input type="radio" name="stream" value="degree">Degree
                      <br>
                      <label for="">College name:</label>
                      <input type="text" placeholder="Enter your college name" name="grad_clg_name" required>
                      <br>
                      <label for="" >Year of Passedout</label>
                      <input type="date"  required name="grad_pass_year">
                      <br>
                      <label for="">Percentage</label>
                      <input type="text" placeholder="Enter your percentage" name="grad_per" required>
                    </div>
                    <br>
                    <hr>
                    <div>
                      <h4>Higher Education</h4>
                      <label for="">Stream:</label>
                      <input type="radio" name="high_stream">Inter
                      <input type="radio" name="high_stream">Diploma
                      <br>
                      <label for="">College name:</label>
                      <input type="text" placeholder="Enter your college name" name="high_clg_name" required>
                      <br>
                      <label for="">Year of Passedout</label>
                      <input type="date" required name="high_pass_year">
                      <br>
                      <label for="">Percentage</label>
                      <input type="text" placeholder="Enter your percentage" name="high_per" required>
                    </div>
                    <br>
                    <hr>
                    <div>
                      <h4>Secondary Education</h4>
                      <label for="">board</label>
                      <input type="text" name="scl_ed">
                      <br>
                      <label for="">School name:</label>
                      <input type="text" placeholder="Enter your school name" name="scl_name" required>
                      <br>
                      <label for="">Year of Passedout</label>
                      <input type="date" name="scl_pass_year" required>
                      <br>
                      <label for="">Percentage</label>
                      <input type="text" placeholder="Enter your percentage" name="scl_per" required>
                    </div>
                    <br>
                    <hr>
                    <div>
                    <h4>Skills</h4>
                    <label for="">Skills Known:</label>
                  <input type="text" placeholder="mention your skills" name="skill" required>
                  <br>
                    <br>
                    <div align="center">
                    <input type="submit" value="Save" class="button">
                    <input type="reset" class="button">
                  </div>
                </div>
                </form>
              </div>
            </div>         
        </div>
    </div>
  </main>
  <div class="navbar navbar-light bg-dark" >
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="footer-col">
          <ul>
            <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
            <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
            <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
            <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
            <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
            
          </ul>
        </div>
        <div class="vertical"></div>
        <div class="footer-col">
          <ul>
            <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
            <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
            
            <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
            <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
            <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a><hr>
          </ul>
        </div>
        <div id="footerform" class="footer-col">
          <form action="">
            {%csrf_token%}
            <div >
              <h4 >Contact Us</h4><br>
              <label for="">Name:</label><br>
              <input type="text" placeholder="Enter your name"><br>
              <label for="">Email Id:</label><br>
              <input type="email" placeholder="Enter your email"><br>
              <label for="">Query:</label><br>
              <input type="textarea" placeholder="Enter your query"><br><br>
              <button type="submit" class="button" >Submit</button>
            </div>
          </form>
        </div>
        <div id="footer-end" >
          
            <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
            <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
              <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="https://www.instagram.com/career_connect11/"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
            </div><br>
           
        </div>
        <div>
          <i class="fa-solid fa-copyright"></i>
          <label for="">2023 Career Connect | All rights Reserved</label>
        </div>
      </div>
    </div>
  </footer>
</div>
{%comment%}
<script>
  function checkValidity(){
    var inputDate = document.getElementById("availability_date").value;
  var currentDate = new Date().toISOString().split("T")[0];

  if (inputDate >= currentDate) {
    alert("Date is valid!");
  } else {
    alert("Date is not valid!");
  }
}
</script>
{% endcomment %}
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>