{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/register.css'%}">
    <script src="{% static 'board/register.js'%}"></script>
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>Register</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
        #career_connect{
            font-family: 'Lobster Two', cursive;
            font-size: 40px;
        }
    </style>
  </head>
  <body>
    <!-- Just an image -->
    <nav class="navbar fixed-top navbar-light bg-light">
        
        <a class="navbar-brand" href="#">
            <span id="career_connect">Career Connect</span>
        <img src="{%static 'board/logo.jpg'%}" width="50" height="60" alt="" loading="lazy">
        </a>
        <dd>|Already Registered?<a href="{%url 'login_user'%}">Login</a></dd>
    </nav>
    <div id="form_body">
        <div align="center">
            <dt>create an account</dt>
            <dt style="color: red;">{{error}}</dt>
            <dd>it only takes couple of minutes to get started!</dd>
            <dd id="caption_free">it's free !</dd>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div id="form_container">
                        <form action="{%url 'register_user'%}" method="post">
                            {%csrf_token%}
                            <label for="">FIRST NAME</label>
                            <br>
                            <input type="text" placeholder="Enter your first name" autofocus required name="first_name" class="input">
                            <br>
                            <label for="">LAST NAME</label>
                            <br>
                            <input type="text" placeholder="Enter your last name" autofocus required name="last_name" class="input">
                            <br>
                            <label for="">  EMAIL</label>
                            <br>
                            <input type="email" name="email" required placeholder="Emailid" class="input">
                            <br>
                            <label for="">PASSWORD</label>
                            <br>
                            <input type="password" name="password" minlength="8" placeholder="minimum 8 chars" class="input" id="pass" onkeyup="valid_password()">
                            <h6 id="error"></h6>
                            <br>
                            <input type="checkbox" required>
                            <a href="{%url 'terms_footer'%}">TERMS AND CONDITIONS</a> 
                            <br>
                            <input type="submit" value="submit" id="submit">
                        </form>

                    </div>

                </div>

            </div>
             
        </div>
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    
  </body>
</html>