{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/register_page.css'%}">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>register_page</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      #career_connect{
          font-family: 'Lobster Two', cursive;
          font-size: 40px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar  navbar-light">
      <a class="navbar-brand" href="#">
          <span id="career_connect">Career Connect</span>
      <img src="{%static 'board/logo.jpg'%}" width="30" height="30" alt="" loading="lazy">
      </a>
      
  </nav>
    <div class="bg">
      <div id="con" >
        <form  method="post" >
         
          
          <div class="form-box">
            <div class="button_box">
              <div id="btn"></div>
              <a href=""><button type="button" class="toggle-btn" onclick="register()">Register</button></a>
              <a href="{%url 'login_user'%}"><button type="button" class="toggle-btn" onclick="login()">Log in</button></a>
             
              <form id="login" class="input-groups" method="post" action="{%url 'register_user'%}">
                {%csrf_token%}
                <div align="center" id="errormessage_id">{{error}}</div>
                
                <input type="text" class="input-field" placeholder="first name" autofocus required name="first_name"><br>
                <input type="text" class="input-field" placeholder="last name" autofocus required name="last_name"><br>
                <input type="text" name="email" placeholder="Emailid" class="input-field"><br>
                <input type="password" class="input-field" placeholder="password" name="password" id="password" onkeypress="verifyPassword()"><br>
               
              
                <input required type="checkbox" class="checkbox"><span><a href="{%url 'terms_footer'%}">Agree Terms & Conditions</a></span><br>
                <button type="submit" class="submit-btn" name="register">Register</button>
                
              </form>
             
             
              
            
            </div>

          </div>
        </form>
      </div>
      
    <div class="navbar navbar-light bg-dark" style="margin-top: 60px;" >
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="footer-col">
              <ul>
                <a href="{%url 'aboutus_footer'%}"><li> About Us</li></a><hr>
                <a href="{%url 'career_footer'%}"><li> Careers</li></a><hr>
                <a href="{%url 'emphome_footer'%}"><li>Employerhome</li></a><hr>
                <a href="{%url 'site_footer'%}"><li>Sitemap</li></a><hr>
                <a href="{%url 'help_footer'%}"><li>Help center</li></a><hr>
                
              </ul>
            </div>
            
            <div class="footer-col">
              <ul>
                <a href="{%url 'grievance_footer'%}"><li>Grievance</li></a><hr>
                <a href="{%url 'report_footer'%}"><li>Report issues</li></a><hr>
                
                <a href="{%url 'terms_footer'%}"><li>Terms and Conditions</li></a><hr>
                <a href="{%url 'fraud_footer'%}"><li>Fraud Alert</li></a><hr>
                <a href="{%url 'trust_footer'%}"><li>Trust and Safety</li></a><hr>
              </ul>
            </div>
            <div id="footerform" class="footer-col">
              <form action="">
                {%csrf_token%}
                <div >
                  <h4 style="color:white">Contact Us</h4><br>
                  <label for="">Name:</label><br>
                  <input type="text" placeholder="Enter your name"><br>
                  <label for="">Email Id:</label><br>
                  <input type="email" placeholder="Enter your email"><br>
                  <label for="">Query:</label><br>
                  <input type="textarea" placeholder="Enter your query"><br><br>
                  <button type="submit" class="button" >Submit</button>
                </div>
              </form>
            </div>
            <div id="footer-end" >
              
                <a href="" id="logodiv" ><img  src="{%static 'board/logo.jpg'%}" width="170px" height="150px" alt=""></a>
                <div class="followus" align="center">Follow us on:&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/profile.php?id=100092701433688"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.instagram.com/career_connect11"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://twitter.com/career_connect_"><i class="fa-brands fa-twitter"></i></a>
                </div><br>
               
            </div>
            <div>
              <i class="fa-solid fa-copyright"></i>
              <label for="">2023 Career Connect | All rights Reserved</label>
            </div>
          </div>
        </div>
      </footer>
    </div>
        
    
    

    <script>  
      function verifyPassword() {  
        var pw = document.getElementById("password").value;  
         
        if(pw == "") {  
           document.getElementById("message").innerHTML = "**Fill the password!";  
           
        }       
        if(pw.length < 8) {  
           document.getElementById("message").innerHTML = "**weak password";  
           
        }     
        var passw= /^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        if(pw .match(passw)) {  
           document.getElementById("message").innerHTML = "** Strong password"
           
           ;  
            
        }  
      }  
      </script>     
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>