<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>SAMPLE</title>
</head>
<body>
    <h1>details</h1>
    <p>{{name.first_name}}</p>
    <p>{{profile_.graduation}}</p>
    <p>{{profile_.skill}}</p>
    <p>{{profile_.grad_clg_name}}</p>
    <a href="{%url 'logout_'%}">logout</a>
    <a href="{%url 'update_' profile_.id%}">edit</a>
    <p>{{profile_.id}}</p>
    
</body>
</html>