{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'board/profile.css'%}">
    <link rel="icon" href="{%static 'board/logo.jpg'%}">
    <title>UPDATE</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
      #careerconnect{
        font-family: 'Lobster Two', cursive;
        font-size: 40px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">
          <span id="careerconnect">Career Connect</span>
      <img src="{%static 'board/logo.jpg'%}" width="30" height="30" alt="" loading="lazy">
      </a>
      <a href="{%url 'logout_'%}">logout</a>
  </nav>
  <main >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <div align="center" id="profilediv_id">
                  <br>
                  <h2>Profile</h2>
                </div>
                <br>
                <div class="formdiv_class">
                <form action="{%url 'profile_details'%}" method="post">
                    {% csrf_token %} 
                    <label for="">Profile photo:</label>
                    
                    <input type="file" name="profile_photo" value="{{u.profile_photo}}" >
                    
                    <label for="">Mobile number:</label>
                    
                    <input style="width: 200px;" type="text" value="{{u.mobile_number}}" placeholder="Enter your mobile number" name="mobile_number" class="profileinput_class" required>
                    
                    <label for="">Location:</label>
                    
                    <select name="location" id="" class="input_class"  required  value="{{u.location}}">
                      <option value=""></option>
                      <option value="hyderabad">Hyderabad</option>
                      <option value="chennai">Chennai</option>
                      <option value="banglore">Banglore</option>
                      <option value="pune">Pune</option>
                      <option value="kolkata">Kolkata</option>
                    </select>
                    <br>
                    <br>
                    <label for="">Experience:</label>
                    
                    <select name="experience" id="" class="input_class" required value="u.">
                      <option value=""></option>
                      <option value="0">0 years</option>
                      <option value="1">1 year</option>
                      <option value="2">2 years</option>
                      <option value="3">3 years</option>
                      <option value="4">more than 3 years</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="">Availability:</label>
                    
                    <input type="date" placeholder="Enter your Availability time" name="availability" class="input_class" required>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="">Gender:</label>
                    
                    <input type="radio" name="gender" value="male">Male
                    <input type="radio" name="gender" value="female">Female
                    <br>
                    <br>
                    <label for="">Upload Resume:</label>
                    <input type="file" name="resume" >
                    <br>
                    <hr>
                    <div>
                      <h4>Graduation</h4>
                      <label for="">Stream:</label>
                      <input type="radio" name="stream" vlaue="BTech">BE/BTech
                      <input type="radio" name="stream" value="degree">Degree
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="">College name:</label>
                      <input type="text" placeholder="Enter your college name" name="grad_clg_name" value="{{u.grad_clg_name}}" required>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="" >Year of Passedout</label>
                      <input type="date"  required name="grad_pass_year" value="{{u.grad_pass_year}}">
                      <br>
                      <br>
                      <label for="">Percentage</label>
                      <input type="text" placeholder="Enter your percentage" name="grad_per" value="{{u.grad_per}}" required>
                    </div>
                    <br>
                    <hr>
                    <div>
                      <h4>Higher Education</h4>
                      <label for="">Stream:</label>
                      <input type="radio" name="high_stream">Inter
                      <input type="radio" name="high_stream">Diploma
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="">College name:</label>
                      <input type="text" placeholder="Enter your college name" name="high_clg_name" value="{{higher_ed_clg_name}}" required>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="">Year of Passedout</label>
                      <input type="date" required name="high_pass_year" value="{{u.highereducation_passout_year}}" >
                      <br>
                      <br>
                      <label for="">Percentage</label>
                      <input type="text" placeholder="Enter your percentage" name="high_per" value="{{u.higher_ed_per}}" required>
                    </div>
                    <br>
                    <hr>
                    <div>
                      <h4>Secondary Education</h4>
                      <label for="">board</label>
                      <input type="text" name="scl_ed" value="{{u.sec_ed}}">
                      <label for="">School name:</label>
                      <input type="text" placeholder="Enter your school name" name="scl_name" value="{{u.sec_ed_scl_name}}" required>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="">Year of Passedout</label>
                      <input type="date" name="scl_pass_year" value="{{u.sec_ed_pass_year}}" required>
                      <br>
                      <br>
                      <label for="">Percentage</label>
                      <input type="text" placeholder="Enter your percentage" name="scl_per" value="{{u.sec_ed_percentage}}" required>
                    </div>
                    <br>
                    <hr>
                    <div>
                    <h4>Skills</h4>
                    <label for="">Skills Known:</label>
                  <input type="text" placeholder="mention your skills" name="skill" value="{{u.skill}}" required>
                  <br>
                    <br>
                    <div align="center">
                    <input type="submit" value="Save">
                    <input type="reset">
                  </div>
                </div>
                </form>
              </div>
            </div>         
        </div>
    </div>
  </main>

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>