#formdiv_id{
    border: 1px solid black;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 40px;
    background-color: white;
    
}
nav{
    height: 120px;
    box-shadow: 2px 2px cornsilk;
}
main{
    margin-top: 125px;
}
.input_class{
    width: 200px;
    border-radius: 7px;
}
input:hover{
    background-color: aliceblue;
}
body{
    background-color: aliceblue;
    
}
input{
    border-radius: 7px;
}