.homepage_body{
    overflow-x: auto;
    overflow-y: auto;
}
.user-profile{
    margin-top: 20px;
    margin-left: 20PX;
    padding-left: 30px;
    background-color: rgb(138, 138, 148);
    font-style: inherit;
    color:white;
    
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 2px black;
}
.ft{
    color: white;
}
#ic{
    color: white;
}
footer-col{
    margin-top: 20px;
  }
  #footerform{
      float: right;
      border: 1px solid white;
      border-radius: 5px;
      padding: 8px;
    }
    input{
      border-radius: 7px;
    }
    hr{
      background-color: white;
  }
  #logo{
      height: 50px;
      width: 30px;
  }
  footer{
      background-color: black;
      margin:auto;
      padding: auto;
      width: 100%;
  }
  .footer-col{
      margin-left: 200px  
  }
  #footer-end{
      margin-left: 200px;
      display: flex;
  }
  .followus{
      margin: auto;
      padding: auto;
      color:white;
  }
  #logodiv{
      margin-right: 50px;
  }
  #footerform label{
      width: 200px;
      display: inline-block;
      color: white;
    }
    
  
  #footerform{
    
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
  }
  input{
    border-radius: 7px;
  }
  .button{
    border-radius: 7px;
  }
  .footer-col{
    margin-top: 20px;
  }
  #career_connect{
      font-family: 'Lobster Two', cursive;
      font-size: 40px;
  }
  
  
    
   
    
  
    
