form{
    margin-top: 150px;
    border: 1.5px black solid;
    border-radius: 10px;
    /* background-color:bisque; */
    
}
.job{
    font-family: serif;
    color: black;
}
.text{
    font-style:normal;
    font-family: serif;
    font-weight:lighter;
    color:red;
    font-size: larger;
}

