
    

nav{
    height: 120px;
    
}



#loginform_id{
    
    border-radius: 7px;

    height: 400px;
    width: 400px;
    background-color: white;
    box-shadow: 3px 3px rgb(218, 213, 213);
}
#register_id{
    margin-left: 40px;
    margin-top: 10px;
}
#registerword_id{
    font-weight: 500;
    color: black;
    text-decoration: none;
}
#login_id{
    margin-left: 10px;
    margin-right: 10px;
}
#forgotpassword_id{
    text-decoration: none;
    font-size: small;
    margin-left: 275px;
    color: rgb(160, 6, 160);
    
}
.input_class{
    border-radius: 5px;
    border: 1px solid black;
    width: 380px;
    padding: 5px ;
    padding-left: 10px;
}
#errormessage_id{
    color: red;
}
#loginvalue_id{
    margin-top: 7px;
    background-color: plum ;
}
body{
    background-image: radial-gradient(rgb(242, 240, 240) 90%,plum 40%);
}
#form_body{
    margin-top: 125px;
}
a span{
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(224, 138, 106);
    font-weight: bold;
}
#img{
    height: 400px;
    width: 400px;

}


