
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image:url("/static/board/login_bg.jpeg");
    background-position:center;
    background-size:cover;
    position:relative;
    height: 100vh;
}
.form-box{
    width: 380px;
    height: 480px;
    position:relative;
    
    background: #fff;
    padding: 5px;
    margin: auto 6%;
    overflow: hidden;  
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative; 
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 20px 9px #ff61241f;
    margin: 4px;
    margin-left: 50px;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 50px;
    transition: .5s;
    border-radius: 30px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    margin: 5px;
    margin-left: 50px;
}
.input-groups{
    top: 180px;
    position: absolute;
    transition: .5s;
}
.input-field{
    padding: 30px 0px;
    margin: 10px 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    width: 280px;
    transition: .5s;
}
.submit-btn{
    width: 85%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 10px;
    background: linear-gradient(to right,#ff105f,#ffad06 );
    outline: none;
    border: 0;
    border-radius: 30px;
}
.checkbox{
    margin: 10px 5px 10px 5px;
}
span{
    color: #777;
    font-size: 12px;
    position: relative;
    font-family: sans-serif;
}
#login{
    left: 50px;
}
#con{
    margin-top: 25px
    
}
#career_connect{
    color:black;
    font-size: 50px;
    font-family: 'Lobster Two', cursive;
}

.footer-col{
  margin-top: 20px;
}
#footerform{
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
  }
  input{
    border-radius: 7px;
  }
  hr{
    background-color: white;
}
#logo{
    height: 50px;
    width: 30px;
}
footer{
    background-color: black;
    margin:auto;
    padding: auto;
    width: 100%;
}
.footer-col{
    margin-left: 200px  
}
#footer-end{
    margin-left: 200px;
    display: flex;
}
.followus{
    margin: auto;
    padding: auto;
    color:white;
}
#logodiv{
    margin-right: 50px;
}
label{
    width: 200px;
    display: inline-block;
    color: white;
  }
  

#footerform{
  
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
}
input{
  border-radius: 7px;
}
.button{
  border-radius: 7px;
}
.footer-col{
  margin-top: 20px;
}