.formdiv_class{
    border: 2px solid black;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 40px;
    background-color: rgb(149, 143, 140);
}
input:hover{
    background-color: aliceblue;
}
.profileinput_class:hover{
    background-color: aliceblue;
}
main{
    margin-top: 50px;
}
nav{
    height: 120px;
    box-shadow: 2px 2px cornsilk;
    background-color:white;
    
}
a span{
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(224, 138, 106);
    font-weight: bold;
}
#career_connect{
    color: chartreuse;
}
body{
    color: white;
    
}
#profile{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 40px;
    font-weight: 900;
    background-color: black;
}
hr{
    background-color: white;
}
#logo{
    height: 50px;
    width: 30px;
}
footer{
    background-color: black;
    margin:auto;
    padding: auto;
    width: 100%;
}
.footer-col{
    margin-left: 200px  
}
#footer-end{
    margin-left: 200px;
    display: flex;
}
.followus{
    margin: auto;
    padding: auto;
}
#logodiv{
    margin-right: 50px;
}
#smallnav{
    margin-top: 25px;
    height: 40px;
    width: 600px;
    background-color: blue;
    border-radius: 20px;

}
