nav{height: 120px;}
#form_body{margin-top: 125px;}
#form_body dt{font-size: 30px;
font-family: 'Times New Roman', Times, serif;
color:navy;
}
#form_body dd{
    font-size: x-small;
}
#caption_free{
    background-color: aquamarine;
    display: inline;
    border-radius: 5px;
    font-size: smaller;
}
#form_container{
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
  
    width: max-content;
    height: max-content;
}
form input{
    
    padding-top: 5px;
    border-radius: 5px;
    margin: 5px;
}
body{
    background-color: aliceblue;
    
}
label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#submit{
    padding: 3px 5px;
    background-color: olivedrab;
}
a{
    text-decoration: none;
}
a span{
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(224, 138, 106);
    font-weight: bold;
}
.input{
    width: 300px;
}
